nav {
  border: solid black 5px;
}

nav a {
  color: hotpink;
}

.main {
  border: solid red 5px;
}

#description {
  border: solid hotpink 5px;
}

#description img {
  border: solid black 5px;
}

#text {
  border: solid black 5px;
}

#about {
  border: solid red 5px;
}

iframe, .map {
  border: solid green 5px;
}

#contact {
  border: solid pink 5px;
}

#table, #reserve {
  border: solid green 5px;
}

#rental_info, #building {
  border: solid red 5px;
}
