/*Rules for all pages*/
html, body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#nav_bar {
  list-style: none;
}

#nav_item {
  display: inline-block;
  padding: 0.25rem 2rem;
  font-size: 1.25rem;
  border-left: solid white 1px;
  border-right: solid white 1px;
}

nav a {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0.25rem 0.5rem;
}

.main {
  height: 24rem;
  background-image: url("../pics/Park_Path.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main h1 {
  display: flex;
  font-size: 5rem;
  color: black;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 8px white;
}

#underliner {
  text-decoration: underline;
}

h2 {
  text-align: center;
}

#description_box {
  display: flex;
  justify-content: space-between;
}

/*Rules for Home page*/
#description_img {
  max-width: 21rem;
  margin: 0.25rem;
  padding: 0.25rem;
  object-fit: contain;
}

#description_text {
  max-width: 71rem;
  margin: 0.25rem;
  padding: 0.25rem;
  align-self: center;
  font-size: 1.15rem;
}

#about {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
}

#map {
  min-width: 40rem;
  min-height: 28rem;
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.25rem;
}

#contact {
  flex-grow: 1;
  margin: 0.25rem;
  padding: 0.25rem;
  text-align: center;
  font-size: 1.15rem;
}

/*Rules for Facility page*/
table, th, td {
  background-color: silver;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 0.5rem;
  font-size: 0.9rem;
}

th, td {
  min-width: 5rem;
  text-align: center;
}

th {
    padding: 1rem 0.5rem;
}

#rental_info {
  min-width: 60%;
  max-width: 70%;
  margin: 0.25rem;
  padding: 0.25rem;
  align-self: center;
  font-size: 1.15rem;
}

#table {
  align-self: center;
}

#reserve {
  text-align: center;
}

/*Rules for Calendar page*/
#cal_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#calendar {
  min-height: 30rem;
  flex-grow: 1;
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.25rem;
}

#notes {
  text-align: center;
}



/*Rules for screen widths common to laptops or smaller windows*/
@media only screen and (max-width: 960px) {
/*Rules for Home page*/
#description_text {
  max-width: 95%;
}
#description_img {
  display: none;
}

} /*End of 960px Rules*/

/*Rules for screen widths common to tablets*/
@media only screen and (max-width: 700px) {
/*Rules for all pages*/
  .main {
    height: 20rem;
  }
  .main h1 {
    font-size: 3.5rem;
    padding-top: 0.75rem;
  }
  #nav_item {
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }
  #description_box {
    flex-wrap: wrap;
  }

/*Rules for Home page*/
  #description_text {
    font-size: 1rem;
  }
  #map{
    min-width: 30rem;
  }
  #contact {
    font-size: 1rem;
  }

/*Rules for Facility page*/
  #rental_info{
    max-width: 95%;
    font-size: 1rem;
  }
  #about {
    margin: 0.5rem 0rem;
  }

} /*End of 700px Rules*/

/*Rules for screen widths common to phones*/
@media only screen and (max-width: 470px) {
/*Rules for all pages*/
  .main {
    height: 16rem;
  }
  .main h1 {
    font-size: 3rem;
  }
  #nav_item {
    padding: 0.25rem 0.5rem;
  }

/*Rules for Home page*/
#map{
  min-width: 23rem;
}

} /*End of 470px Rules*/
