html, body {
  font-family: sans-serif;
  font-size: 16px;
}

nav {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-left: solid white 1px;
  border-right: solid white 1px;
}

nav a {
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 0.5rem;
}

.main {
  height: 24rem;
  background-image: url("../pics/Park_Path.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main h1 {
  display: flex;
  font-size: 5rem;
  color: black;
  text-align: center;
  justify-content: center;
  text-shadow: 1px 1px 4px white;
  border: solid hotpink 5px;
}

#description {
  display: flex;
}

#description img {
  max-width: 35%;
  margin: 0.25rem;
  padding: 0.25rem;
  overflow: hidden;
}

#text {
  min-width: 60%;
  margin: 0.25rem;
  padding: 0.25rem;
}

#about {
  display: flex;
  background-color: lightblue;
}

iframe, .map {
  min-width: 32rem;
  min-height: 24rem;
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.25rem;
}

#contact {
  min-width: 35%;
  margin: 0.25rem;
  padding: 0.25rem;
}
